.groupHeader {
  position: relative;
  display: flex;
  background-color: #001f8b;
  width: 100%;
  height: 98px;
  gap: 20px;
  color: white;
  padding: 20px;
  align-items: center;
  top: 0;
   z-index: 100;
}

.groupIcon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.groupHeader h3 {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

#backBtn {
 cursor: pointer;
  display: block;
  width: 15px;
  height: 11px;
  object-fit: contain;

}

@media (max-width: 360px) {
  .groupHeader {
    height: 66px;
    padding: 10px;
    display: flex;
    gap: 10px;
  }

  .groupIcon {
    width: 48px;
    height: 48px;
    font-size: 17px;
  }

  .groupHeader h3 {
    font-size: 17px;
  }

  #backBtn {
    margin-right: 6px;
  }
}
