.groupHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #001f8b;
  color: #fff;
  padding: 16px;
}

.groupIcon {
  width: clamp(44px, 6vw, 68px);
  height: clamp(44px, 6vw, 68px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(16px, 3vw, 24px);
}

.groupHeader h3 {
  font-size: clamp(16px, 3vw, 24px);
}

#backBtn {
  width: 14px;
  cursor: pointer;
}
