.new-group-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.new-group {
  position: absolute;
  width: 740px;
  height: 317px;
  border-radius: 6px;
  background-color: #ffffff;
  margin: 100px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-items: center;
  box-shadow: 0px 4px 20px #cccccc;
  padding: 30px;
}

h3 {
  font-size: 29px;
  font-weight: 500;
  color: black;
  /* line-height: 46px; */
}

.groupModal {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.group-name label {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.035em;
  color: black;
}

.group-name {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 20px;
}

.color-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.group-name input {
  width: 435px;
  height: 51px;
  border-radius: 22px;
  font-size: 23px;
  padding-left: 20px;
  border: 2px solid #cccccc;
}

.color-container h4 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.035em;
}

.color-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.color {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#create-btn {
  background-color: #001f8b;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.035em;
  border-radius: 11px;
  padding: 5px;
  width: 154px;
  height: 38px;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.color:hover {
  transform: scale(1.05);
}

@media (max-width: 360px) {
  .new-group-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .new-group {
    width: 284px;
    height: 311px;
    padding: 18px;
  }

  h3 {
    font-size: 18px;
  }

  .group-name label {
    font-size: 14px;
  }

  .group-name {
    gap: 10px;
  }

  .color-container {
    gap: 10px;
  }

  .group-name input {
    width: 150px;
    height: 23px;
    border-radius: 9px;
    font-size: 10px;
  }

  .color-container h4 {
    font-size: 14px;
  }

  .color-row {
    gap: 5px;
  }

  .color {
    width: 17px;
    height: 17px;
  }

  #create-btn {
    font-size: 17px;
    border-radius: 6px;
    padding: 5px;
    width: 186px;
    height: 33px;
  }
}
