.new-group-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.new-group {
  width: clamp(280px, 90vw, 740px);
  background: #fff;
  border-radius: 6px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 24px;
  box-shadow: 0 4px 20px #ccc;
}

#h3 {
  font-size: clamp(18px, 3vw, 28px);
  text-align: left;
  font-weight: 500;
}

#h4 {
  font-size: clamp(14px, 2vw, 22px);
  font-weight: 500;
}

.groupModal {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.group-name {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: left;
  align-items: center;
}

.group-name label {
  font-size: clamp(14px, 2vw, 22px);
  font-weight: 500;
}

.group-name input {
  flex: 1;
  min-width: clamp(160px, 40vw, 320px);
  max-width: 420px;
  height: clamp(36px, 6vw, 44px);

  border-radius: 22px;
  font-size: clamp(14px, 2vw, 20px);
  padding-left: 16px;
  border: 2px solid #ccc;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.color-row {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.color {
  width: clamp(17px, 5vw, 40px);
  height: clamp(17px, 5vw, 40px);
  border-radius: 50%;
  cursor: pointer;
}

#create-btn {
  align-self: flex-end;
  background: #001f8b;
  color: #fff;

  font-size: clamp(14px, 1.5vw, 18px);
  padding: clamp(6px, 1.5vw, 10px) clamp(16px, 3vw, 28px);

  border-radius: 10px;
  border: none;
  cursor: pointer;

  width: clamp(100px, 12vw, 160px);
}

@media (max-width: 768px) {
  .new-group {
    position: relative;
    padding-bottom: 80px;
  }

  .groupModal {
    gap: 20px;
  }

  .group-name {
    flex-direction: row;
    align-items: flex-start;
  }

  .group-name input {
    min-width: clamp(80px, 40vw, 350px);
    max-width: 400px;
  }

  .color-container,
  .color-row {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  #create-btn {
    align-self: center;
    position: absolute;
    bottom: 20px;
    width: clamp(120px, 40vw, 180px);
    font-size: clamp(14px, 3vw, 16px);
    padding: 8px 20px;
  }
}
