.groupItems {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 160px;
  gap: 20px;
  overflow-y: auto;
}

.groupItems::-webkit-scrollbar {
  display: none;
}

.groupItems h3 {
  font-size: 35px;
  align-self: center;
  padding-bottom: 40px;
   padding-top: 40px;

}

.item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.item.active {
  background-color: rgb(47, 47, 47, 0.17);
  border-radius: 16px;
  width: 100%;
}

.item:hover {
  transform: scale(1.05);
  width: 100%;
  background-color: rgb(47, 47, 47, 0.17);
  border-radius: 16px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 25px;
}

.groupName {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 24px;
}

#img1 {
  width: 93px;
  height: 93px;
  position: absolute;
  left: 275px;
  bottom: 40px;
}

@media (max-width: 360px) {
  .groupItems {
    width: 100vw;
    height: 100vh;
    padding: 16px 12px;
    margin-bottom: 0;
  }

  .groupItems h3 {
    font-size: 31px;
    padding-bottom: 16px;
  }

  .item {
    gap: 14px;
  }

  .icon {
    width: 62px;
    height: 62px;
    font-size: 18px;
  }

   .groupName {
    font-size: 19px;
  }

    #img1 {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 75px;
    height: 75px;
  }
}
