.noteEditor {
  position: sticky;
  bottom: 0;
  background: #001f8b;
  padding: 16px;
  height: 140px;
}

.innerNoteEditor {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 9px;
  position: relative;
  padding: 16px 20px;
  box-sizing: border-box;
}

.innerNoteEditor input {
  width: 100%;
  font-size: clamp(16px, 3vw, 24px);
  border: none;
  background: transparent;
}

.innerNoteEditor input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.innerNoteEditor #Btn {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 26px;
}

@media (min-width: 360px) {
  .noteEditor {
    height: 160px;
  }
}

@media (min-width: 480px) {
  .noteEditor {
    height: 180px;
  }
}

@media (min-width: 768px) {
  .noteEditor {
    height: 200px;
  }
}

@media (min-width: 900px) {
  .noteEditor {
    height: 220px;
  }
}

@media (min-width: 1024px) {
  .noteEditor {
    height: 240px;
  }
}
