.noteEditor {
  position: sticky;
  width: 100%;
  height: 240px;
  background-color: #001f8b;
  padding: 20px 28px;
  box-sizing: border-box;
  bottom: 0;
  z-index: 10;
}

.innerNoteEditor {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 9px; 
  position: relative; 
  padding: 16px 20px;
  box-sizing: border-box;
}

.innerNoteEditor input {
  flex: 1;
  width: 100%;
  font-size: 25px;
  border: none;
  line-height: 35px;
  font-weight: 400;
  padding: 10px;
  background: transparent;
}

input:focus {
  outline: none;
}

.innerNoteEditor #Btn {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 80%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
}


@media(max-width:360px){
  .noteEditor {  
  height: 130px;
  padding: 10px 14px;
  
}

.innerNoteEditor {
    padding: 8px 10px;
}

.innerNoteEditor input {
 
  font-size: 17px;
  line-height: 20px;
  padding: 5px;
}

.innerNoteEditor #Btn {
  width: 21px;
  height: 17px;
  position: absolute;
  top: 70%;
  right: 30px;
}

}