.panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: center;
  margin-top: 10px;
}

#heroImg {
  width: 600px;
  height: auto;
  margin-top: 50px;
}

.content h3 {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  /* line-height: 32px; */
  letter-spacing: 0.02em;
}

.encryption {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 17px;
  /* line-height: 32px; */
  letter-spacing: 0.02em;
}

.encryption #encryptImg {
  width: 15px;
  height: 19px;
}
