.noteCard {
  width: 92%;
  margin: 16px auto;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 10px #ccc;
  font-size: clamp(14px, 2vw, 20px);
  word-break: break-word;
}

.noteFooter {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  font-size: inherit;
}
